# A fast, small, safe, gradually typed embeddable scripting language derived from Lua
#
# https://github.com/luau-lang/luau
# https://luau.org/

__pycache__/

# Code coverage
coverage.out

# Profiling
profile.out
profile.svg

# Time trace
trace.json

# Build artifacts
/*.rbxl
/*.rbxlx
/*.rbxm
/*.rbxmx
sourcemap.json

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# VS Code files
.vscode/*